# Pre-commit
# https://github.com/pre-commit/pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-symlinks

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.92.0
    hooks:
      - id: terraform_fmt

      # To speed up local validation add the following to your ~/.zshrc:
      # export TF_PLUGIN_CACHE_DIR=$HOME/.terraform.d/plugin-cache

      - id: terraform_validate
        args:
          - --hook-config=--retry-once-with-cleanup=true
          - --tf-init-args=-upgrade

      # Always run after terraform_validate

      - id: terraform_docs
        args:
          - --hook-config=--path-to-file=README.md
          - --hook-config=--add-to-exiting-file=true
          - --hook-config=--create-file-if-not-exist=false

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 3.2.174
    hooks:
      - id: checkov
        verbose: true
        args:
          - --skip-check
          - "CKV_TF_1"
          - --download-external-modules=true
          - --quiet
