# Pre-commit
# https://github.com/pre-commit/pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-symlinks
      - id: no-commit-to-branch

  - repo: https://github.com/bridgecrewio/checkov
    rev: 2.2.258
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail, --download-external-modules=true]

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.77.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
      - id: terraform_docs
        args:
          - --hook-config=--path-to-file=README.md
          - --hook-config=--add-to-exiting-file=true
          - --hook-config=--create-file-if-not-exist=false
